<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devise.checkup.mapper.AttendanceMapper">
  <resultMap id="BaseResultMap" type="com.devise.checkup.domain.Attendance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="enter_image" jdbcType="VARCHAR" property="enterImage" />
    <result column="enter_recording" jdbcType="VARCHAR" property="enterRecording" />
    <result column="entry_time" jdbcType="TIMESTAMP" property="entryTime" />
    <result column="inspection_time" jdbcType="TIMESTAMP" property="inspectionTime" />
    <result column="out_image" jdbcType="VARCHAR" property="outImage" />
    <result column="out_recording" jdbcType="VARCHAR" property="outRecording" />
    <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
    <result column="process" jdbcType="BIGINT" property="process" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="work_no" jdbcType="VARCHAR" property="workNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from attendance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.devise.checkup.domain.Attendance">
    insert into attendance (id, create_by, create_time, 
      del_flag, duration, enter_image, 
      enter_recording, entry_time, inspection_time, 
      out_image, out_recording, out_time, 
      process, realname, status, 
      update_by, update_time, user_id, 
      username, work_no)
    values (#{id,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{enterImage,jdbcType=VARCHAR}, 
      #{enterRecording,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, #{inspectionTime,jdbcType=TIMESTAMP}, 
      #{outImage,jdbcType=VARCHAR}, #{outRecording,jdbcType=VARCHAR}, #{outTime,jdbcType=TIMESTAMP}, 
      #{process,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.devise.checkup.domain.Attendance">
    update attendance
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      enter_image = #{enterImage,jdbcType=VARCHAR},
      enter_recording = #{enterRecording,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      inspection_time = #{inspectionTime,jdbcType=TIMESTAMP},
      out_image = #{outImage,jdbcType=VARCHAR},
      out_recording = #{outRecording,jdbcType=VARCHAR},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      process = #{process,jdbcType=BIGINT},
      realname = #{realname,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      work_no = #{workNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, create_by, create_time, del_flag, duration, enter_image, enter_recording, 
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname, 
    status, update_by, update_time, user_id, username, work_no
    from attendance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_by, create_time, del_flag, duration, enter_image, enter_recording, 
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname, 
    status, update_by, update_time, user_id, username, work_no
    from attendance
  </select>
  <resultMap id="BaseResultMap" type="com.devise.checkup.domain.Attendance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="enter_image" jdbcType="VARCHAR" property="enterImage" />
    <result column="enter_recording" jdbcType="VARCHAR" property="enterRecording" />
    <result column="entry_time" jdbcType="TIMESTAMP" property="entryTime" />
    <result column="inspection_time" jdbcType="TIMESTAMP" property="inspectionTime" />
    <result column="out_image" jdbcType="VARCHAR" property="outImage" />
    <result column="out_recording" jdbcType="VARCHAR" property="outRecording" />
    <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
    <result column="process" jdbcType="BIGINT" property="process" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="work_no" jdbcType="VARCHAR" property="workNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from attendance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.devise.checkup.domain.Attendance">
    insert into attendance (id, create_by, create_time, 
      del_flag, duration, enter_image, 
      enter_recording, entry_time, inspection_time, 
      out_image, out_recording, out_time, 
      process, realname, status, 
      update_by, update_time, user_id, 
      username, work_no)
    values (#{id,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{enterImage,jdbcType=VARCHAR}, 
      #{enterRecording,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, #{inspectionTime,jdbcType=TIMESTAMP}, 
      #{outImage,jdbcType=VARCHAR}, #{outRecording,jdbcType=VARCHAR}, #{outTime,jdbcType=TIMESTAMP}, 
      #{process,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.devise.checkup.domain.Attendance">
    update attendance
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      enter_image = #{enterImage,jdbcType=VARCHAR},
      enter_recording = #{enterRecording,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      inspection_time = #{inspectionTime,jdbcType=TIMESTAMP},
      out_image = #{outImage,jdbcType=VARCHAR},
      out_recording = #{outRecording,jdbcType=VARCHAR},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      process = #{process,jdbcType=BIGINT},
      realname = #{realname,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      work_no = #{workNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, create_by, create_time, del_flag, duration, enter_image, enter_recording, 
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname, 
    status, update_by, update_time, user_id, username, work_no
    from attendance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_by, create_time, del_flag, duration, enter_image, enter_recording, 
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname, 
    status, update_by, update_time, user_id, username, work_no
    from attendance
  </select>
  <resultMap id="BaseResultMap" type="com.devise.checkup.domain.Attendance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="enter_image" jdbcType="VARCHAR" property="enterImage" />
    <result column="enter_recording" jdbcType="VARCHAR" property="enterRecording" />
    <result column="entry_time" jdbcType="TIMESTAMP" property="entryTime" />
    <result column="inspection_time" jdbcType="TIMESTAMP" property="inspectionTime" />
    <result column="out_image" jdbcType="VARCHAR" property="outImage" />
    <result column="out_recording" jdbcType="VARCHAR" property="outRecording" />
    <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
    <result column="process" jdbcType="BIGINT" property="process" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="work_no" jdbcType="VARCHAR" property="workNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from attendance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.devise.checkup.domain.Attendance">
    insert into attendance (id, create_by, create_time, 
      del_flag, duration, enter_image, 
      enter_recording, entry_time, inspection_time, 
      out_image, out_recording, out_time, 
      process, realname, status, 
      update_by, update_time, user_id, 
      username, work_no)
    values (#{id,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{enterImage,jdbcType=VARCHAR}, 
      #{enterRecording,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, #{inspectionTime,jdbcType=TIMESTAMP}, 
      #{outImage,jdbcType=VARCHAR}, #{outRecording,jdbcType=VARCHAR}, #{outTime,jdbcType=TIMESTAMP}, 
      #{process,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.devise.checkup.domain.Attendance">
    update attendance
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      enter_image = #{enterImage,jdbcType=VARCHAR},
      enter_recording = #{enterRecording,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      inspection_time = #{inspectionTime,jdbcType=TIMESTAMP},
      out_image = #{outImage,jdbcType=VARCHAR},
      out_recording = #{outRecording,jdbcType=VARCHAR},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      process = #{process,jdbcType=BIGINT},
      realname = #{realname,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      work_no = #{workNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, create_by, create_time, del_flag, duration, enter_image, enter_recording, 
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname, 
    status, update_by, update_time, user_id, username, work_no
    from attendance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_by, create_time, del_flag, duration, enter_image, enter_recording, 
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname, 
    status, update_by, update_time, user_id, username, work_no
    from attendance
  </select>
  <resultMap id="BaseResultMap" type="com.devise.checkup.domain.Attendance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="enter_image" jdbcType="VARCHAR" property="enterImage" />
    <result column="enter_recording" jdbcType="VARCHAR" property="enterRecording" />
    <result column="entry_time" jdbcType="TIMESTAMP" property="entryTime" />
    <result column="inspection_time" jdbcType="TIMESTAMP" property="inspectionTime" />
    <result column="out_image" jdbcType="VARCHAR" property="outImage" />
    <result column="out_recording" jdbcType="VARCHAR" property="outRecording" />
    <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
    <result column="process" jdbcType="BIGINT" property="process" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="work_no" jdbcType="VARCHAR" property="workNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from attendance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.devise.checkup.domain.Attendance">
    insert into attendance (id, create_by, create_time, 
      del_flag, duration, enter_image, 
      enter_recording, entry_time, inspection_time, 
      out_image, out_recording, out_time, 
      process, realname, status, 
      update_by, update_time, user_id, 
      username, work_no)
    values (#{id,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{enterImage,jdbcType=VARCHAR}, 
      #{enterRecording,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, #{inspectionTime,jdbcType=TIMESTAMP}, 
      #{outImage,jdbcType=VARCHAR}, #{outRecording,jdbcType=VARCHAR}, #{outTime,jdbcType=TIMESTAMP}, 
      #{process,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.devise.checkup.domain.Attendance">
    update attendance
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      enter_image = #{enterImage,jdbcType=VARCHAR},
      enter_recording = #{enterRecording,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      inspection_time = #{inspectionTime,jdbcType=TIMESTAMP},
      out_image = #{outImage,jdbcType=VARCHAR},
      out_recording = #{outRecording,jdbcType=VARCHAR},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      process = #{process,jdbcType=BIGINT},
      realname = #{realname,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      work_no = #{workNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, create_by, create_time, del_flag, duration, enter_image, enter_recording, 
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname, 
    status, update_by, update_time, user_id, username, work_no
    from attendance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_by, create_time, del_flag, duration, enter_image, enter_recording, 
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname, 
    status, update_by, update_time, user_id, username, work_no
    from attendance
  </select>
  <select id="selectByCondition" resultType="com.devise.checkup.domain.Attendance">
    <![CDATA[
     select id, create_by, create_time, del_flag, duration, enter_image, enter_recording,
    entry_time, inspection_time, out_image, out_recording, out_time, process, realname,
    status, update_by, update_time, user_id, username, work_no
    from attendance
    where create_time >= #{startTime} and create_time <= #{endTime}
    ]]>
  </select>
</mapper>